/* SMIT JOSHI - 1001946718
KETA MODI - 1001947989
HELLY SHUKLA - 1002028499
AVISH MODI - 1002069301
RIDHAM TELI - 1002091174 */

/* https://www.w3schools.com/html/default.asp */
/* https://www.youtube.com/watch?v=oYRda7UtuhA&t=2046s&ab_channel=EasyTutorials */
/* https://stackoverflow.com/questions/69743522/small-screen-menu-show-and-hide-with-javascript */

/* Overall CSS page for Homepage,about us page, floor plan and amenities */


/* *{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
} */

/*    Homepage   */
/* Used for background image in Homepage */
.homepage{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(./../images/home.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

/* Navigation bar  */
nav{
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

/* Navigation bar links */
.nav-links .ul .li{
    display: inline-block;
    list-style: none;
    position: relative;
    padding: 9px 13px;
    color: #fff;

}

.li{
    color: #fff;
}

/* Navigation bar color */
.nav-links .ul .li a{
    color: #fff;
    text-decoration: none;
    font-size: medium;
}


.nav-links .ul .li{
    color: #fff;
}

/* Text-box is used for Title Terrazas De Guacuco */
.text-box{
    color: #fff;
    position: absolute;
    width: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

/* Title Font-size */
.text-box h1{
    font-size: 65px;
    padding: 20px 45px;
    color: #fff;
}

/* Hero-btn */
.hero-button{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 15px 35px;
    font-size: 14px;
    background: transparent;
    position: relative;
    cursor: pointer;
  
}

/* This section is used for the after effects of the  */
.hero-button:hover{
    border: 1px solid #cd8315;
    background: #cd8315;
    transition: 2s;
}

/* To close the icon this section is used to hide it */
nav .fa{
    display: none;
}

/* This section is used to make the website responsive */
@media(max-width: 700px){
    .text-box h1{
        font-size: 20px;
    }

    .nav-links ul li{
        display: block;
        color: #fff;
    }

    .nav-links{
        top: 0;
        background: #cd8315;
        position: absolute;
        z-index: 2;
        height: 100vh;
        width: 200px;
        right: -200px;
        text-align: left;
        transition: 0.5s;
    }

    nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }

    .nav-links ul{
        padding: 30px;
    }
}

/* About Us page CSS */
.sub-header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(./../images/about.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    color: #fff;
    min-height: 100vh;
    text-align: center;
}


/* Navigation Bar for about us page */
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

/* Navigation bar image */
img{
    width: 150px;
}

p{
    margin-top: 50px;
}

.hero-button{
    position: relative;
    margin-top: 50px;
}

.about{
    color: #fff;
}

.about h1{
    color: #fff;
}
.about_us{
    width: 70%;
    margin: auto;
    margin-top: 100px;
    padding-top: 80px;
    padding-bottom: 50px;
    background-position: center;
    position: relative;
    color: #cd8315; 
    /* color: #e4e5e6;
    font-size: large;
    text-align: center;
    margin-top: 150px; */
}

.column{
    flex-basis: 50%;
    padding: 35px 2px;
}

.about_us column img{
    width: 100%;
    /* width: 70%;
    background-position: center;
    position: relative; */
}

/* Title of the page */
h1{
    font-size: 40px;
    font-weight: 500;
}

/* For the content */
p{
    color: #e4e5e6;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    padding: 12px;
}

/* This section is for floor plans */
.sub-header2{
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(./../images/floor.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    color: #fff;
    text-align: center;
}

nav img{
    width: 150px;
}
.sub-header2 p{
    margin-top: 50px;
}

.sub-header2 .hero-button{
    position: relative;
    margin-top: 50px;
}

.plan h1{
    color: #fff;
}

.floor{
    color: #e4e5e6;
    font-size: large;
    text-align: center;
    margin-top: 150px;

}

.floor .hero-button{
    position: relative;
    margin-top: 50px;
}

.floor-column img{
    width: 70%;
    background-position: center;
    position: relative;
    
}
h2{
    font-size: larger;
    margin-top: 25px;
    width: 100%;
}

.footer .icons{
    color: #fff;
}

/* This section is used for amenities */
.sub-header3{
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(./../images/amenities.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    color: #fff;
    text-align: center;
}

nav img{
    width: 150px;
}

.sub-header3 p{
    margin-top: 50px;
}

.sub-header3 .hero-button{
    position: relative;
    margin-top: 50px;
}

.amenity h1{
    color: #fff;
}

.amenities{
    color: #e4e5e6;
    font-size: large;
    text-align: center;
    margin-top: 150px;

}

.amenities .hero-button{
    position: relative;
    margin-top: 50px;
}

.amenity-col img{
    width: 70%;
    background-position: center;
    position: relative;
}

h2{
    font-size: larger;
    margin-top: 25px;
    width: 100%;
}

/* This section is for footer  */
.footer{
    width: 100%;
    text-align: center;
    margin-block-end: auto;
}

.footer h3{
    margin-top: 10px;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
    text-align: left;
}
/* This section is for the icons used in footer */
.icons .fa{
    color: #fff;
    text-align: center;
    margin: 0 10px;
    cursor: pointer;
    font-size: large;
}